<h1><%= @track.title %></h1>
<table class="track_page_table">
  <th>Album</th>
  <th>Title</th>
  <th>Track Number</th>
  <tr>
    <td> <p><%= @track.album.title %></p></td>
    <td><p><%= @track.title %></p></td>
    <td><p><%= @track.ord %><%= " - (Bonus Track)" if @track.bonus == true %></p></td>
  </tr>
</table>
  <div class="track_lyrics">
    <h2>Lyrics</h2>
    <p><%= ugly_lyrics(@track.lyrics) %></p>
  </div>

<h2>Track Notes</h2>
<%= render 'notes/note', notes: @notes %>
<h2>Add Note:</h2>
<%= render 'notes/form', note: @note, track: @track, method: :new %>
<div class="page_links">
  <%= button_to("Edit Track", edit_track_url(@track), method: :get) %>
  <%= button_to("Delete Track", track_url(@track), method: :delete) %>
  <%= button_to("Go to Album Page", album_url(@track.album), method: :get) %>
  <%= button_to("Go to Band Page", band_url(@track.band), method: :get) %>
</div>