<!DOCTYPE html>
<html>
  <head>
    <title>AaMusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Akronim" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <h1>Music App</h1>
  <div class="error_box">
    <% if !flash[:errors].nil? || !flash.now[:errors].nil? %>
      <%= render 'shared/errors' %>
    <% end %>
  </div>
    <div>
      <div>
        <%= button_to("Home", bands_url, method: :get) %>
      </div>
      <div>
        <% if logged_in? %>
          <p><%= current_user['email'] %> is logged in.</p>
          <%= button_to("Logout", session_url, method: :delete) %>
        <% else %>
          <%= button_to("Login", new_session_url, method: :get) %> <p> OR </p>
          <%= button_to("Sign Up", new_user_url, method: :get) %>
        <% end %>
      </div>
    </div>
  </header>
  <body>
    <section class='main_content'>
      <%= yield %>
    </section>
  </body>
</html>
